<div class="task-lists-container">

  <div class="task-list-header">
    <h2>NUEVA TAREA</h2>
  </div>
  <form #form="ngForm" class="form" (ngSubmit)="addTask()">

    <!--Name-->
    <mat-form-field class="full-width">
      <input matInput placeholder="Nombre tarea" [(ngModel)]="task.taskName" id="taskName" maxlength="120"
        name="taskName" required>
    </mat-form-field>

    <!--Description-->
    <mat-form-field class="full-width">
      <input matInput placeholder="Descripción tarea" [(ngModel)]="task.taskDescription" id="taskDescription"
        maxlength="120" name="taskDescription" required>
    </mat-form-field>

      <button type="submit" [disabled]="!form.form.valid" class="btn btn-lg btn-primary btn-block">Guardar</button>

  </form>

</div>
